.u-section-1 .u-sheet-1 {
  min-height: 697px;
}

.u-section-1 .u-group-elements-1 {
  width: 231px;
  min-height: 386px;
  height: auto;
  margin: 156px auto 0;
}

.u-section-1 .u-shape-1 {
  width: 176px;
  height: 215px;
  --radius: 37px;
  background-image: none;
  margin: 86px auto 0;
}

.u-section-1 .u-group-elements-2 {
  width: 142px;
  min-height: 160px;
  height: auto;
  margin: -272px auto 60px;
}

.u-section-1 .u-image-2 {
  width: 16px;
  height: 15px;
  margin: 6px auto 0 0;
}

.u-section-1 .u-image-3 {
  width: 100px;
  height: 31px;
  margin: -21px auto 0 21px;
}

.u-section-1 .u-image-4 {
  width: 129px;
  height: 49px;
  margin: 11px 0 0 auto;
}

.u-section-1 .u-image-5 {
  width: 129px;
  height: 51px;
  margin: 18px 0 0 auto;
}