.u-section-1 .u-sheet-1 {
  min-height: 697px;
}

.u-section-1 .u-group-elements-1 {
  width: 231px;
  min-height: 386px;
  height: auto;
  margin: 155px auto 0;
}

.u-section-1 .u-shape-1 {
  width: 176px;
  height: 215px;
  --radius: 37px;
  background-image: none;
  margin: 86px auto 0;
}

.u-section-1 .u-group-elements-2 {
  width: 144px;
  min-height: 179px;
  height: auto;
  margin: -282px auto 0;
}

.u-section-1 .u-image-3 {
  width: 16px;
  height: 15px;
  margin: 8px auto 0 15px;
}