.u-section-1 .u-sheet-1 {
  min-height: 697px;
}

.u-section-1 .u-group-elements-1 {
  width: 231px;
  min-height: 386px;
  height: auto;
  margin: 156px auto 0;
}

.u-section-1 .u-shape-1 {
  width: 176px;
  height: 215px;
  --radius: 37px;
  background-image: none;
  margin: 86px auto 0;
}

.u-section-1 .u-group-elements-2 {
  width: 138px;
  min-height: 174px;
  height: auto;
  margin: -280px auto 60px;
}

.u-section-1 .u-image-3 {
  width: 48px;
  height: 47px;
  margin: 31px auto 0 45px;
}

.u-section-1 .u-image-4 {
  width: 128px;
  height: 51px;
  margin: -17px auto 0 5px;
}

.u-section-1 .u-image-5 {
  width: 118px;
  height: 25px;
  margin: 22px auto 0 10px;
}