.u-section-1 .u-sheet-1 {
  min-height: 697px;
}

.u-section-1 .u-group-elements-1 {
  width: 231px;
  min-height: 386px;
  height: auto;
  margin: 156px auto 0;
}

.u-section-1 .u-shape-1 {
  background-image: none;
  width: 176px;
  height: 215px;
  --radius: 37px;
  margin: 86px auto 0;
}

.u-section-1 .u-image-2 {
  height: 174px;
  width: 138px;
  margin: -280px auto 0;
}

.u-section-1 .u-image-3 {
  width: 33px;
  height: 23px;
  margin: -122px auto 0;
}

.u-section-1 .u-image-4 {
  width: 90px;
  height: 20px;
  margin: 4px auto 0;
}

.u-section-1 .u-image-5 {
  width: 105px;
  height: 2px;
  margin: 9px auto 60px;
}