.u-section-1 .u-sheet-1 {
  min-height: 697px;
}

.u-section-1 .u-group-elements-1 {
  width: 231px;
  min-height: 386px;
  height: auto;
  margin: 156px auto 0;
}

.u-section-1 .u-shape-1 {
  width: 176px;
  height: 215px;
  --radius: 37px;
  background-image: none;
  margin: 86px auto 0;
}

.u-section-1 .u-group-elements-2 {
  width: 160px;
  min-height: 145px;
  height: auto;
  margin: -265px auto 60px;
}

.u-section-1 .u-image-2 {
  width: 56px;
  height: 80px;
  margin: 24px 52px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 102px;
  height: 27px;
  margin: 14px auto 0 29px;
}

.u-section-1 .u-image-4 {
  height: 24px;
  margin-top: -145px;
  margin-bottom: 0;
}